# Ignore virtual environment
venv/
.venv/

# Ignore model files
models/*.pkl

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore system files
.DS_Store
Thumbs.db
